AppBundle\Entity\Pack:
    type: entity
    table: pack
    repositoryClass: AppBundle\Repository\PackRepository
    gedmo:
        translation:
            locale: locale
    manyToOne:
        pack_type:
            targetEntity: Packtype
            inversedBy: packs
            joinColumn:
                name: pack_type
                referencedColumnName: id
    oneToMany:
        cards:
            targetEntity: Card
            orderBy: {'position':'ASC'}
            mappedBy: pack
    fields:
        id:
            type: integer
            id: true
            generator:
                strategy: AUTO
        code:
            type: string
            length: 255
            nullable: false
        name:
            type: string
            length: 1024
            nullable: false
            gedmo:
                - translatable
        cgdbId:
            type: smallint
            nullable: true
        position:
            type: smallint
            nullable: false
        size:
            type: smallint
            nullable: false
        dateCreation:
            type: datetime
            nullable: false
            column: date_creation
            gedmo:
                timestampable:
                    on: create
        dateUpdate:
            type: datetime
            nullable: false
            column: date_update
            gedmo:
                timestampable:
                    on: update
        dateRelease:
            type: date
            nullable: true
            column: date_release
        creator:
            type: text
            nullable: true
        status:
            type: text
            nullable: true
        theme:
            type: text
            nullable: true
        visibility:
            type: text
            nullable: true
        language:
            type: text
            nullable: true
        environment:
            type: text
            nullable: false            
    uniqueConstraints:
        pack_code_idx:
            columns: [code]
            
