{% extends 'AppBundle::layout.html.twig' %}
{% import "AppBundle::macros.html.twig" as macros %}

{% block body %}

<div class="main white container rules-reference">

	<h2>The latest version of the rules are available on FFG website!</h1>

    <a href="https://www.fantasyflightgames.com/en/products/marvel-champions-the-card-game/"
       class="btn btn-primary"
       target="_blank"
       rel="noopener noreferrer">
        FFG website
    </a>

</div>

{% endblock %}
