{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    <div class="container main">
        <h1>Nouvelle rubrique</h1>
        <p>Ceci est une page d'exemple ajoutée à l'instar de la page Team.</p>
    </div>
{% endblock %}
